p,h1,h1,h3{
    font-family: Georgia, sans-serif;
}
body{
    overflow: hidden;
}
.loader{
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 1);
    position: fixed;
    z-index: 1000;
}
.loader>div.bar{
    display: block;
    position: absolute;
    height: 5px;
    bottom: 0;
    left: 0;
    width: 0%;
    background: #addf5e;
}
.loader>div.text{
    display: block;
    position: absolute;
    height: 100px;
    bottom: 0;
    left: 0;
    width: 0%;
}
.loader>.text p{
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #addf5e;
    height: auto;
}
.loader>.text span{
    font-size: 1.6em;
    position: relative;
    margin-right: 4px;
}
.loader>img{
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    margin-left: -111px;
    margin-top: -81px;
    -webkit-transition:all 2500ms ease-in-out;
    -moz-transition:all 2500ms ease-in-quad;
    -o-transition:all 2500ms ease-in-quad;
    transition:all 2500ms ease-in-out;
}
.loader>img.active{
    opacity: 1;
}
.section{
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 1;
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
}
.navicon-button {
    display: inline-block;
    position: relative;
    padding: 10px 0;
    transition: 250ms;
    cursor: pointer;
    user-select: none;
    opacity: .8;
    position: fixed;
    top: 40px;
    left: 60px;
    z-index: 15;
}
.navicon:before, .navicon:after {
  transition: 250ms;
  background: white;
}
.navicon-button:hover {
    transition: 500ms;
    opacity: 1;
}
.navicon:before, .navicon:after {
    transition: 250ms;
}
.navicon:after { top: -.825rem; }
.navicon:before { top: .825rem; }
.navicon {
  position: relative;
  width: 2.5em;
  height: 2px;
  transition: 500ms;
  background: white;
}
.navicon:after, .navicon:before {
  display: block;
  content: "";
  height: 2px;
  width: 2.5rem;
  position: absolute;
  z-index: -1;
  transition: 500ms;
}
.navicon:after { top: -12px; }
.navicon:before { top: 12px; }
.navicon-button.active:not(.steps) .navicon:before,
.navicon-button.active:not(.steps) .navicon:after {
  top: 0 !important;
}
.navicon-button.active .navicon:before,
.navicon-button.active .navicon:after {
  transition: 500ms;
}
.navicon-button.active.x .navicon {
    background: transparent;
}
.navicon-button.active.x .navicon:after { 
    transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
}  
.navicon-button.active.x .navicon:before { 
    transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg); 
    -webkit-transform: rotate(-45deg); 
} 
.loading .navicon {
  color: red;
  box-shadow: inset 0 0;
  transition: $transition-duration, box-shadow 0;
}
.loading .navicon { transition: 0; }

.sidebar{
    position: fixed;
    left: 50px;
    top: 50%;
    margin-top: -152px;
    z-index: 9;
}
.sidebar a{
    color: #aedf5e;
    font-family: Georgia, sans-serif;
    font-size: 0.875em;
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 32px 0;
    width: 40px;
    height: 25px;
    text-align: center;
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    transition:all 300ms ease;
}
.sidebar a.active{
    font-weight: bold;
}
.sidebar a.active:after{
    height: 2px;
}
.sidebar a:hover:after, .sidebar a.active:after{
    width: 100%;
}
.sidebar a:after{
    content: "";
    background: #aedf5e;
    display: block;
    height: 1px;
    width: 20px;
    margin: 8px auto 0 auto;
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    transition:all 300ms ease;
}
.contact .title{
    color: white;
    font-family: Georgia, sans-serif;
    font-size: 1.938em;
    margin-bottom: 70px;
}
.contact .tel{
    margin-bottom: 20px;
}
.contact .tel p{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    margin: 10px 0;
    font-weight: 200;
}
.contact .adr{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 26px;
    text-decoration: none;
    margin: 30px 0;
    font-weight: 200;
}
.contact .adr:hover{
    text-decoration: underline;
}
.contact .share {
    margin-bottom: 40px;
}
.contact .share a{
    display: inline-block;
    vertical-align: top;
    height: 80px;
    width: 80px;
    margin: 0 30px;
}

.contact .share a.fb{background: url(images/icon-fb.png) no-repeat center center;}
.contact .share a.tw{background: url(images/icon-tw.png) no-repeat center center;}
.contact .share a.gl{background: url(images/icon-gl.png) no-repeat center center;}

.section .content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.section .section-head{
    padding-top: 60px;
    position: relative;
    margin-bottom: 20px;
}
.section .section-head span.step{
    width: 433px;
    height: 386px;
    line-height: 386px;
    text-align: center;
    display: block;
    background: url(images/bg-step.png) no-repeat center center;
    color: rgba(174,223,94,0.4);
    font-size: 12.500em;
    position: absolute;
    left: 50%;
    margin-left:-216px;
    top: -135px;
    z-index: 1;
}
.section .section-head span.step.active{
    top: -155px;
}
.section .section-title{
    color: white;
    font-size: 2.188em;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    line-height: 45px;
}
.section span.colored{
    color: #addf5e;
}
.section span.bold{
    font-weight: 700;
}
.section .section-head:after{
    content:"";
    height: 1px;
    width: 0;
    display: block;
    background: rgba(255,255,255,0.6);
    margin: 70px auto 0 auto;
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    transition:all 300ms ease;
}
.section .section-head.active:after{
    width: 200px;
}
.section .content .text p{
    color: white;
    /*font-size: 0.875em;*/
    font-size: 1em;
    /*line-height: 20px;*/
    line-height: 22px;
    letter-spacing: 1px;
    display: block;
    margin: 15px 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}
.section .content .text.classic{
    width: 850px;
    margin: auto;
}
.section .content .text.classic.w850{
    width: 850px;
}

.section .content .text.classic.w550{
    width: 650px;
}

.section .content .text.classic.w750{
    width: 750px;
}
.section .content .text.classic.w900{
    width: 900px;
}
.section .content .text.classic p{
    text-align: center;
}
.section .content .text.classic>div{
    display: inline-block;
}
.section .content .text.column{
    text-align: center;
}
.section .content .text.column>div{
    display: inline-block;
    width: 450px;
    margin: 0 40px;
    vertical-align: top;
}
.section .content .text.column p{
    text-align: justify;
}
#background{
    height: 100%;
    width: 100%;
    position: relative;
}
.state{
    position: relative;
    top: 10px;
    opacity: 0;
    -webkit-transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}
.state.active{
    top: 0px;
    opacity: 1;
}
.menu{
    display: none;
    opacity: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
}
nav{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: Georgia, sans-serif;
}
nav a{
    color: white;
    font-size: 0.875em;
    text-decoration: none;
    padding: 40px 0 20px 0;
    display: block;
    position: relative;
    width: 400px;
    margin: 0 auto;
}
nav a:hover .menu-step, nav a.active .menu-step{
    font-size: 1.5em;
    top: 10px;
}
nav a:hover .title, nav a.active .title{
    opacity: 1;
}
nav>a:last-child:after{
    display: none;
}
nav a:after{
    content: "";
    display: block;
    width: 160px;
    height: 1px;
    background: #52643f;
    position: absolute;
    bottom: -2px;
    left: 50%;
    margin-left: -80px;
}
nav .menu-step{
    color: #aedf5e;
    font-size: 0.875em;
    margin-bottom: 15px;
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 15px;
    -webkit-transition:all 200ms ease;
    -moz-transition:all 200ms ease;
    -o-transition:all 200ms ease;
    transition:all 200ms ease;
}
nav .title{
    line-height: 20px;
    -webkit-transition:all 300ms ease;
    -moz-transition:all 300ms ease;
    -o-transition:all 300ms ease;
    transition:all 300ms ease;
    opacity: 0.6;
}
.footer{
    position: fixed;
    height: 35px;
    line-height: 35px;
    background: rgba(0,0,0,0.3);
    width: 100%;
    left: 0;
    bottom: 0;
}
.footer p{
    color: white;
    opacity: 0.7;
    font-weight: 100;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8em;
    letter-spacing: 0px;
}
.footer a{
    color:white;
    text-decoration: none;
    font-weight: normal;
}
.footer a:hover{
    text-decoration: underline;
}
.oneBg{
    height: 50%;
    width: 50%;
    display: block;
    position: absolute;
    overflow: hidden;
    display: block;
}
.oneBg.topLeft{ top: 0; left: 0; }
.oneBg.topRight{ top: 0; right: 0; }
.oneBg.bottomLeft{ bottom: 0; left: 0; }
.oneBg.bottomRight{ bottom: 0; right: 0; }

.oneBg.topLeft .bg{ bottom: 0; right: 0; }
.oneBg.topRight .bg{ bottom: 0; left: 0; }
.oneBg.bottomLeft .bg{ top: 0; right: 0; }
.oneBg.bottomRight .bg{ top: 0; left: 0; }

.oneBg .bg{
    background-size: cover;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
}
.oneBg .bg.inactive{
    z-index: 1;
}
.oneBg .bg.pre-active{
    z-index: 2;
}
.oneBg .bg.active{
    z-index: 3;
}
.oneBg.topLeft .bg{ background-position: bottom right; }
.oneBg.topRight .bg{ background-position: bottom left; }
.oneBg.bottomLeft .bg{ background-position: top right; }
.oneBg.bottomRight .bg{ background-position: top left; }

.oneBg.topLeft .bg-1{ background-image: url(../images/bg1-1.jpg); }
.oneBg.topRight .bg-1{ background-image: url(../images/bg1-2.jpg); }
.oneBg.bottomLeft .bg-1{ background-image: url(../images/bg1-3.jpg); }
.oneBg.bottomRight .bg-1{ background-image: url(../images/bg1-4.jpg); }

.oneBg.topLeft .bg-2{ background-image: url(../images/bg2-1.jpg); }
.oneBg.topRight .bg-2{ background-image: url(../images/bg2-2.jpg); }
.oneBg.bottomLeft .bg-2{ background-image: url(../images/bg2-3.jpg); }
.oneBg.bottomRight .bg-2{ background-image: url(../images/bg2-4.jpg); }

.oneBg.topLeft .bg-3{ background-image: url(../images/bg3-1.jpg); }
.oneBg.topRight .bg-3{ background-image: url(../images/bg3-2.jpg); }
.oneBg.bottomLeft .bg-3{ background-image: url(../images/bg3-3.jpg); }
.oneBg.bottomRight .bg-3{ background-image: url(../images/bg3-4.jpg); }

.oneBg.topLeft .bg-4{ background-image: url(../images/bg4-1.jpg); }
.oneBg.topRight .bg-4{ background-image: url(../images/bg4-2.jpg); }
.oneBg.bottomLeft .bg-4{ background-image: url(../images/bg4-3.jpg); }
.oneBg.bottomRight .bg-4{ background-image: url(../images/bg4-4.jpg); }

.oneBg.topLeft .bg-5{ background-image: url(../images/bg5-1.jpg); }
.oneBg.topRight .bg-5{ background-image: url(../images/bg5-2.jpg); }
.oneBg.bottomLeft .bg-5{ background-image: url(../images/bg5-3.jpg); }
.oneBg.bottomRight .bg-5{ background-image: url(../images/bg5-4.jpg); }

.oneBg.topLeft .bg-6{ background-image: url(../images/bg6-1.jpg); }
.oneBg.topRight .bg-6{ background-image: url(../images/bg6-2.jpg); }
.oneBg.bottomLeft .bg-6{ background-image: url(../images/bg6-3.jpg); }
.oneBg.bottomRight .bg-6{ background-image: url(../images/bg6-4.jpg); }

.oneBg.topLeft .bg-7{ background-image: url(../images/bg7-1.jpg); }
.oneBg.topRight .bg-7{ background-image: url(../images/bg7-2.jpg); }
.oneBg.bottomLeft .bg-7{ background-image: url(../images/bg7-3.jpg); }
.oneBg.bottomRight .bg-7{ background-image: url(../images/bg7-4.jpg); }

#complete-bg{
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-size: cover !important;
    transform: scale(1.25);
    -o-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
}
#complete-bg.active{
    z-index: 1;
    transition: transform 1200ms ease-in-out;
    -ms-transition: transform 1200ms ease-in-out;
    -o-transition: transform 1200ms ease-in-out;
    -moz-transition: transform 1200ms ease-in-out;
    -webkit-transition: transform 1200ms ease-in-out;
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
}
#complete-bg.sct1{background: url(../images/bg1-complete.jpg) no-repeat center center;}
#complete-bg.sct2{background: url(../images/bg2-complete.jpg) no-repeat center center;}
#complete-bg.sct3{background: url(../images/bg3-complete.jpg) no-repeat center center;}
#complete-bg.sct4{background: url(../images/bg4-complete.jpg) no-repeat center center;}
#complete-bg.sct5{background: url(../images/bg5-complete.jpg) no-repeat center center;}
#complete-bg.sct6{background: url(../images/bg6-complete.jpg) no-repeat center center;}
#complete-bg.sct7{background: url(../images/bg7-complete.jpg) no-repeat center center;}



@media screen and (max-device-width: 1023px){
    .loader>div.bar, .loader>div.text{
        display: none;
    }
    .contact .tel p{
        color: white !important;
    }
    body{
        overflow: auto;
    }
    .section{
        position: relative;
        display: block;
        width: 100%;
        height: auto;
    }
    #section1{
        height: 100%;
        background: url(../images/bg1-complete.jpg) no-repeat center center;
        background-size: cover;
    }
    #section1 .content{
        display: block;
        width: 100%;
        text-align: center;
        height: auto;
    } 
    #section1 .logo{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -121px;
        margin-left: -131px;
    }
    .loader>img{
        margin-left: -131px;
        margin-top: -121px;
    }
    #background{
        display: none;
    }
    .state{
        opacity: 1;
        top: 0;
    }
    .section .content{
        display: block;
        height: auto;
    }
    .sidebar{
        display: none;
    }
    .section .content .text.classic.w850, .section .content .text.classic.w900, .section .content .text.classic.w750{
        width: auto;
    }
    #section2 .section-head{background: url(../images/bg2-complete.jpg) no-repeat center center;}
    #section3 .section-head{background: url(../images/bg3-complete.jpg) no-repeat center center;}
    #section4 .section-head{background: url(../images/bg4-complete.jpg) no-repeat center center;}
    #section5 .section-head{background: url(../images/bg5-complete.jpg) no-repeat center center;}
    #section6 .section-head{background: url(../images/bg6-complete.jpg) no-repeat center center;}
    #section7{background: url(../images/bg7-complete.jpg) no-repeat center center; background-size: cover;}
    .section .section-head{
        background-size: cover;
        margin: 0;
        display: block;
        vertical-align: middle;
        width: 100%;
        padding: 20% 0;
    }
    .section .section-title{
        font-size: 1.8em;
        line-height: 30px;
        padding: 0 20px;
    }
    .section .section-head span.step{
        top: -110px;
    }
    .section .section-head:after{
        content: none;
    }
    .section .content .text.classic p, .section .content .text.column p{
        color: black;
        text-align: left;
        font-size: 0.913em;
    }
    .section .content .text.classic, .section .content .text.column{
        margin: 30px 0;
        padding: 0 20px;
        width: auto;
        text-align: left;
    }
    .navicon-button{
        display: none;
    }
    .section .content .text.column>div, .section .content .text.classic>div{
        width: auto;
        display: block;
        margin: auto;
    }
    .contact .title{
        font-size: 1.5em;
        margin-top: 40px;
        padding: 0 20px;
    }
    .footer {
        position: relative;
        margin-top: 40px;
    }
    .contact .share a{
        height: 60px;
        width: 60px;
        margin: 0 15px;
        background-size: cover !important;
    }
}